nav(role='navigation').navbar.navbar-default
  div.container
    div.navbar-header
      button(type='button').navbar-toggle
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand Todo App
    div.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a Foo
        li: a Bar
        li: a Baz
