nav(role='navigation').navbar.navbar-default
  div.container
    div.navbar-header
      button(type='button' ng-init='collapsed = true' ng-click='collapsed = !collapsed').navbar-toggle
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='/' target='_self').navbar-brand Todo App
    div(collapse='collapsed').collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        if !user
          li: a(href='/signin' target='_self') Sign In
          li: a(href='/register' target='_self') Register
        else
          li: a(href='/dashboard' target='_self')= user.username_original_case
          li: a(href='/signout' target='_self') Sign Out

