extends layout

block content
  div.container.well
    h1 Welcome, #{session.username}!
    p Thank you for creating an account with us. We hope that you enjoy using our service.
    a(href='/').btn.btn-primary Enter
