extends layout

block content
  div.container
    h1 Create an account
    form(role='form', method='post', action='/register').well
      div.form-group
        label.control-label Username
        div
          input(type='text', placeholder='Username', name='username').form-control
      div.form-group
        label.control-label Password
        input(type='password', placeholder='Password', name='password').form-control
      div.form-group
        label.control-label Confirm Password
        input(type='password', placeholder='Confirm Password').form-control
      div.form-group
        button(type='submit', action='/').btn.btn-primary Register
